@import './base.css';



  body {
    display: flex;
    place-items: center;
    
  }

 .main{
  text-align: center;
  padding: 20px;
  background: linear-gradient(rgb(88, 88, 84));
 }
 

.grid {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
